.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#insta{
  text-decoration: none;
  color: gray;
}

h1{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 5px solid gray;
  font-size: 100px;
}

label{
  font-size: 25px;
}

footer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 25px
}

#item2{
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#item1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

textarea{
  width: 200px;
  height: 200px;
}
